.boss-ul li {
    list-style-type: none;
    float: left;
    background-color: #1d2026;
    width: 33.333333%;
}

.boss-img {
    width: 100%;
}

.boss-ul {
    margin: 0;
    padding: 0;
}

.boss-ul li p {
    margin: 0;
    padding: 5px;
    color: #FFCA45;
    font-size: 12pt;
    text-align: center;
}

.boss-date {
    display: inline-block;
    width: 100%;
    font-size: 10pt;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}