.playstore {
    display: flex;
}

.playstore:hover {
    cursor: pointer;
}

.playstore > span {
    margin-left: 10px;
    font-size: 12pt;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
    display: inline-block;
}

.playstore > img {
    width: 30px;
    height: 30px;
}